# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../:\code\java\Chat\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/

/out/

/src/view/lib/vue/vue.js
/lib/
/src/test/
/src/view/lib/
/src/view/typings/
